<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header title">Chat</div>
            <div class="card-block">
                <ul id="messages" class="messages">
                    <% @messages.each do |message| %>
                        <li class="message <%= chat_side(message.username) -%>">
                            <div class="img-thumbnail avatar <%= message.dialect -%>"></div>
                            <div class="text_wrapper">
                                <span class="username"><%= message.username %></span>
                                <span class="time float-right"><%= time(message.created_at) %></span>
                                <div class="text">
                                    <%= message.translated -%>
                                </div'
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="card-footer">
                <%=form_for @message, remote: true, authenticity_token: true do |f|%>
                        <div class="input-group">
                            <%= f.text_area :text, class: "form-control", cols: 40, rows: 3, data: {textarea: "message"}%>
                            <div class="input-group-btn">
                                <%= f.submit "Send", class: "btn btn-primary", data: {send: "message"}%>

                                <%= f.hidden_field :username, value: current_user  %>
                            </div>
                        </div>
                        <span class="help-block">You can mention an user by typing @ plus their username</span>
                <%end%>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header title">Active users</div>
            <div class="card-block p-0">
                <ul class="list-group" id="users">
                    <% @users.each do |activity| %>
                        <li class="list-group-item" id="user-<%= activity.username -%>">
                            <div class="row">
                                <div class="col-md-2 img-thumbnail avatar <%= activity.dialect -%>"></div>
                                <div class="col p-2">
                                    <span class="name"><%= activity.username -%></span><br/>
                                </div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

